﻿@model MVC_EX.Models.Student

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StudentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentRollNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentRollNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentDetail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentDetail)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
