﻿@model MVC_EX.Models.Student

<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StudentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentRollNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentRollNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentDetail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentDetail)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { studentID = Model.StudentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
