﻿@model IEnumerable<MVC_EX.Models.Student>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentRollNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentDetail)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentRollNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentDetail)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { studentID=item.StudentID }) |
                @Html.ActionLink("Details", "Details", new { studentID=item.StudentID }) |
                @Html.ActionLink("Delete", "Delete", new { studentID=item.StudentID })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
